apiVersion: extensions/v1beta1
kind: Deployment
metadata:
    labels:
        app: postgres
    name: postgres
spec:
    replicas: 1
    selector:
        matchLabels:
            app: postgres
    template:
        metadata:
            labels:
                app: postgres
        spec:
#            nodeSelector:
#                app: postgres
            containers:
            -   image: hasura/postgres:9.5.3-r0
                name: postgres
                ports:
                -   containerPort: 5432
                    protocol: TCP
